/**
  * @name Dark+
  * @author DevEvil#8745
  * @version Dark+3
  * @description Highly customized dark and purple theme for Discord
  * @authorId 468132563714703390
  * @authorLink https://devevil.com
  * @source https://github.com/DevEvil99/DarkPlus-Discord-Theme
  * @website https://devevil.com
  * @invite jsQ9UP7kCA
*/

@import url('https://devevil99.github.io/devevil/BetterDiscordAddons/Theme/Dark+/Dark+.theme.css');

:root {
  --darkplus-bg: #0b0017;
  --darkplus-bg2: #000000;
  --darkplus-sec: #783cba;
  --darkplus-links: ##2b00ff;
  --darkplus-home-icon: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.pinterest.com%2Fpin%2F860820916265369672%2F&psig=AOvVaw2eUOXEglvJ1eAVPsnQjMrZ&ust=1690067810845000&source=images&cd=vfe&opi=89978449&ved=0CAwQjRxqFwoTCPD0ha_3oIADFQAAAAAdAAAAABAE);
 --watermark-filter-invert: 0%;
  --watermark-filter-sepia: 50%;
  --watermark-filter-saturate: 3000%;
  --watermark-filter-hue-rotate: 210deg;
  --watermark-filter-brightness: 70%;
  --watermark-filter-contrast: 200%;
  --darkplus-emoji-picker-color: 210deg;
}
